@import "variables"

body
  font-family: 'CeraPro'
  font-weight: normal
  font-style: normal
  font-stretch: normal
  min-width: 1200px
  overflow: scroll
  .navbar
    margin-left: 220px
  .navbar-default, .navbar-static-side
    margin-top: 0 !important
  .zureal-logo
    width: 200px
    margin: 30px 10px
  #side-menu
    li
      text-align: center
      text-transform: uppercase
      .djs-nav-icon
        background-image: url('/images/icons/ic-artist-passive@3x.png')
      .organizers-nav-icon
        background-image: url('/images/icons/ic-organ-passive@3x.png')
      .events-nav-icon
        background-image: url('/images/icons/ic-cd-act@3x.png')
      .other-nav-icon
        background-image: url('/images/icons/ic-play@3x.png')
      &.active .nav-icon
        -webkit-filter: none
        filter: none
      &.active .events-nav-icon
        -webkit-filter: grayscale(70%) !important
        filter: grayscale(70%) !important
      &.active .other-nav-icon
        background-image: url('/images/icons/ic-pause@3x.png')
        -webkit-filter: grayscale(70%) !important
        filter: grayscale(70%) !important
    .nav-second-level
      li
        text-align: left !important
        margin-left: 0 !important
        padding-left: 0 !important
        text-transform: none !important

    .nav-icon
      height: 40px
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      margin-bottom: 5px
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)

.ibox-content
  white-space: pre-wrap
  word-wrap: break-word
  font-size: 16px !important

thead
  z-index: 1000
  tr
    th
      border: 1px solid white
      position: relative
      padding: 6px 20px 6px 6px
      background-color: $current-color
      color: white
      border-radius: 5px
      .sort
        position: absolute
        top: 25%
        right: 5px
        display: inline
        i.fa
          cursor: pointer
tbody
  td
    max-width: 100px
    min-width: 100px
    white-space: pre-wrap
    word-wrap: break-word
  .mw-100px
    max-width: 100px
  .mw-150px
    max-width: 150px
  .mw-200px
    max-width: 200px
  .td-photo
    text-align: center
    max-width: 100px
    img
      width: 100px
      height: 100px
      border-radius: 100px
      display: inline-block
  .col-actions
    max-width: 50px
  .col-social
    text-align: center
    max-width: 50px
  .col-flag
    padding-top: 25px !important
    .flag
      width: 50px !important
      height: 50px !important
      background-position: center
      background-size: cover

.social-icon
  display: inline-block
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin: 10px 5px
  height: 25px
  margin-top: 30px
.facebook
  background-image: url(/images/icons/ic-facebook.png)
  width: 10px
  &:hover
    background-image: url(/images/facebook.png)
.instagram
  background-image: url(/images/icons/ic-instagram.png)
  width: 25px
  &:hover
    background-image: url(/images/instagram.png)
.soundcloud
  background-image: url(/images/icons/ic-mixcloud.png)
  width: 42px
  &:hover
    background-image: url(/images/soundcloud.png)

.page-title
  padding-bottom: 50px

input.form-control
  border-radius: 100px
  padding: 15px 20px
  border: solid 1px #e6e6e6
  font-size: 16px
  font-weight: 500
  color: #aaa
  &:focus
    border-color: #e1c3fd !important
    color: #555 !important

textarea.form-control
  border-radius: 15px
  padding: 15px 20px
  border: solid 1px #e6e6e6
  font-size: 16px
  font-weight: 500
  color: #aaa
  &:focus
    border-color: #e1c3fd !important
    color: #555 !important

.btn-gray
  background-color: white
  border: 1px solid gray
  &:hover, &:active
    background-color: gray
    color: white