@import 'variables_and_functions'

.shadow-block
  padding: 50px
  border-radius: 4px
  background-color: #ffffff
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)

.margin50
  height: 50px

.explore-block
  position: relative
  padding: 0 320px 0 50px
  width: 100%
  border-radius: 100px
  background-color: #ffffff
  border: solid 1px #f5f5f5
  & > input
    height: 60px
    border: 0
  .fa-search
    color: #555555
    font-size: 24px
    position: absolute
    top: 16px
    left: 20px
  [uib-dropdown]
    position: absolute
    top: 20px
    right: 213px
    #toggle-button
      font-size: 16px
      color: #555555
    .dropdown-menu
      max-height: none
      padding: 15px
      width: 1000px
      right: -63px
      left: auto
      input[type="number"]
        width: 100px
        height: 50px
        border-radius: 100px
        background-color: #ffffff
        border: solid 1px #f5f5f5
        outline: none
        padding: 10px 20px
  .search-button
    width: 200px
    height: 60px
    border-radius: 100px
    border: 0
    background-color: #b05dfd
    position: absolute
    top: 0
    right: 0
    font-size: 18px
    font-weight: 500
    font-style: normal
    font-stretch: normal
    letter-spacing: 1.7px
    color: #ffffff

.ngdialog.ngdialog-theme-default.ngdialog-zurealdj
  .ngdialog-content
    max-width: 1050px
    width: 100%
    border-radius: 4px
    background-color: #ffffff
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)
    padding: 30px !important
  .ngdialog-close
    display: none
  .ngdialog-overlay
    pointer-events: none

@media (max-width: $mobile-max-width)
  .desktop-only
    display: none !important

@media (min-width: $mobile-max-width)
  .mobile-only
    display: none !important