@import 'variables_and_functions'

.btn-submit
  background-color: $current-color
  border: none
  color:  white
  display: inline-block
  width: 100%
  outline: none
  font-family: CeraPro
  font-weight: 500
  font-style: normal
  font-stretch: normal
  text-align: center
  &:hover, &:active
    background-color: $current-color
    color:  white

.btn-white
  background-color: white
  border: 1px solid $current-color
  color:  $current-color
  display: inline-block
  &:hover, &:active
    background-color: white
    color:  $current-color
    border: 1px solid $current-color


[device='desktop']
  .btn-submit
    border-radius: 25px
    padding: 14px
    margin: 15px auto
    font-size: 18px
    letter-spacing: 1.7px
    width: 100%
  .btn-white
    border-radius: 25px
    padding: 15px 33px
    margin: 15px auto
    font-size: 16px

[device='mobile'][size='small']
  .btn-submit
    border-radius: calc-h-small(25)
    padding: calc-h-small(10)
    margin: calc-h-small(15) auto !important
    font-size: calc-h-small(18)
    letter-spacing: calc-w-small(1.3)
  .btn-white
    border-radius: calc-w-small(25)
    padding: calc-h-small(13) calc-w-small(33)
    margin: calc-h-small(15) auto
    font-size: calc-h-small(14)
    border-width: calc-h-small(1)
    &:hover, &:active
      border-width: calc-h-small(1)


[device='mobile'][size='full']
  .btn-submit
    border-radius: calc-h-full(25)
    padding: calc-h-full(10)
    margin: calc-h-full(15) auto !important
    font-size: calc-h-full(18)
    letter-spacing: calc-w-full(1.3)
  .btn-white
    border-radius: calc-h-full(25)
    padding: calc-h-full(13) calc-h-full(33)
    margin: calc-h-full(15) auto
    font-size: calc-h-full(16)