@import 'variables_and_functions'

.chat-view
  @media (min-width: $mobile-max-width)
    margin-top: 30px
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08)
  .chat-body
    @media (min-width: $mobile-max-width)
      width: 66.66666666%
      display: inline-block
      .back-to-list-icon
        display: none
    @media (max-width: $mobile-max-width)
      display: none
      &.active
        display: block
    .back-to-list-icon
      margin-right: 10px
      img
        width: 9px
        height: 13px

  .chat-sidebar
    @media (min-width: $mobile-max-width)
      width: 33.33333333%
      display: inline-block
    @media (max-width: $mobile-max-width)
      display: none
      &.active
        display: block
    padding: 0
    border-right: 1px solid #f5f5f5
    & > ul , & > .slimScrollDiv > ul
      padding: 0
      margin: 0
      list-style-type: none
      height: 450px
      overflow-y: auto
      overflow-x: hidden
      & > li
        & > ul
          padding: 0
          margin: 0
          list-style-type: none
          & > li
            cursor: pointer
            &:hover
              color: white
              a, .dj-gray-text
                color: white
              background-color: $current-color
              .unread-messages-count
                border: 1px solid #ffffff !important
                padding: 0px 6px !important
    .chat-user
      border-top: 1px solid #f5f5f5
      padding: 15px 60px 15px 85px
      position: relative
      min-height: 90px
      & > img
        position: absolute
        top: 15px
        left: 25px
        width: 50px
        height: 50px
        border-radius: 4px
      .eventImg
        left: 20px
        top: 20px
      i.fa-circle
        color: #38e357
        font-size: 7px
        position: absolute
        top: 60px
        left: 70px
      i.fa-chevron-down, i.fa-chevron-up
        position: absolute
        top: 20px
        right: 20px
        cursor: pointer
        font-size: 10px
      .unread-message
        margin-top: 10px
        position: relative
        padding: 0px 30px

        .dj-gray-text
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          letter-spacing: normal
        & > img
          position: absolute
          top: 0
          left: 0
          width: 20px
          height: 20px
          border-radius: 100px
        &-count
          font-family: CeraPro
          font-size: 14px
          line-height: 1.43
          color: #555555
          margin-top: 15px
      .unread-messages
        text-align: right
        position: absolute
        top: 50px
        right: 15px
        &-count
          background-color: $current-color
          border-radius: 50px
          padding: 1px 7px
          width: 20px
          height: 20px
          display: inline-block
          color: white
      &-name
        display: block
        font-family: CeraPro-Medium
        font-size: 16px
        font-weight: 500
        color: #555555
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        max-width: 140px
      .last-date
        position: absolute
        top: 16px
        right: 20px
    .chat-search
      position: relative
      i.fa.fa-search
        position: absolute
        top: 22px
        left: 30px
        font-size: 16px
        color: #555555
      input
        width: 100%
        border: none
        outline: none
      padding: 20px 20px 20px 50px
      height: 60px
      border-bottom: solid 1px #f5f5f5
  .chat-header
    height: 61px
    padding: 20px 70px 5px 20px
    border-bottom: 1px solid #f5f5f5
    position: relative
    text-align: right
    .eventChat
      display: inline-block
      position: absolute
      right: 20px
      top: 10px
      font-family: CeraPro
      font-size: 16px
      color: #8a8a8a
      img
        width: 40px
        height: 40px
        border-radius: 4px
        margin-left: 15px
    .receiver
      display: inline-block
      text-align: left
      left: 20px
      top: 10px
      position: absolute
      font-family: CeraPro-Medium
      font-size: 20px
      font-weight: 500
      color: #555555
      .imgContain
        display: inline-block
        position: relative
        margin-right: 15px
        img
          border-radius: 100px
          width: 40px
          height: 40px
      .eventChat
        img
          border-radius: 100px
          width: 40px
          height: 40px


  .chat-discussion, .slimScrollDiv .chat-discussion
    height: 400px
    overflow-y: auto
    padding: 0px 75px 0px 20px
    .chat-message
      position: relative
      padding: 5px 5px 5px 55px
      min-height: 60px
      .message-avatar
        position: absolute
        top: 5px
        left: 0px
        border-radius: 100px
        width: 40px
        height: 40px
      .message
        &-author
          font-family: CeraPro-Medium
          font-size: 16px
          font-weight: 500
          letter-spacing: normal
          color: #b05dfc
          margin-right: 25px
        &-date
          letter-spacing: normal
        &-content
          font-size: 16px
          line-height: 1.5
          color: #555555

  .chat-message-form
    position: relative
    padding: 10px 64px 0 0
    border: solid 1px #f5f5f5
    height: 60px
    input
      height: 40px
      border-radius: 100px
      margin-left: 10px
      padding-left: 30px
      border: solid 1px #e6e6e6
      font-size: 16px
      line-height: 1.5
    a
      position: absolute
      top: 20px
      right: 20px
      font-size: 25px
      color: $current-color
      &:hover
        color: $current-color

  .ng-hide-add
    -webkit-animation: 0.2s lightSpeedOut ease
    animation: 0.2s lightSpeedOut ease

  .ng-hide-remove
    -webkit-animation: 0.5s flipInX ease
    animation: 0.5s flipInX ease

  .blank-chat
    font-size: 16px
    line-height: 1.5
    letter-spacing: normal
    text-align: center
    color: #8a8a8a
    margin-top: 170px