@import 'variables_and_functions'

.chat-view
  margin-top: 30px
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08)
  .chat-sidebar
    padding: 0
    border-right: 1px solid #f5f5f5
    & > ul , & > .slimScrollDiv > ul
      padding: 0
      margin: 0
      list-style-type: none
      height: 450px
      overflow-y: auto
      overflow-x: hidden
      & > li
        & > ul
          padding: 0
          margin: 0
          list-style-type: none
          & > li
            cursor: pointer
            &:hover
              color: white
              a, .dj-gray-text
                color: white
              background-color: $current-color
    .chat-user
      border-top: 1px solid #f5f5f5
      padding: 15px 15px 15px 90px
      position: relative
      min-height: 90px
      & > img
        position: absolute
        top: 15px
        left: 15px
        width: 60px
        height: 60px
        border-radius: 4px
      i.fa-chevron-right, i.fa-chevron-down
        position: absolute
        top: 39px
        right: 20px
        cursor: pointer
      .unread-message
        margin-top: 10px
        position: relative
        padding: 5px 35px
        & > img
          position: absolute
          top: 0
          left: 0
          width: 25px
          height: 25px
          border-radius: 100px
      .unread-messages
        text-align: right
        position: absolute
        top: 0
        right: 0
        padding: 15px
        &-count
          background-color: $current-color
          border-radius: 50px
          padding: 2px 7px
          display: inline-block
          color: white
    .chat-search
      position: relative
      i.fa.fa-search
        position: absolute
        top: 20px
        left: 20px
        font-size: 20px
      input
        width: 100%
        border: none
        outline: none
      padding: 20px 20px 20px 50px
      height: 60px
      border-bottom: solid 1px #f5f5f5
  .chat-header
    height: 61px
    padding: 20px 70px 20px 20px
    border-bottom: 1px solid #f5f5f5
    position: relative
    text-align: right
    img
      position: absolute
      top: 5px
      right: 5px
      width: 50px
      height: 50px
      border-radius: 4px

  .chat-discussion, .slimScrollDiv .chat-discussion
    height: 400px
    overflow-y: auto
    .chat-message
      position: relative
      padding: 5px 5px 5px 66px
      min-height: 60px
      .message-avatar
        position: absolute
        top: 4px
        left: 4px
        border-radius: 50px
        width: 50px
        height: 50px

  .chat-message-form
    position: relative
    padding: 10px 64px 0 0
    border: solid 1px #f5f5f5
    height: 60px
    input
      height: 40px
      border-radius: 100px
      margin-left: 10px
      padding-left: 30px
      border: solid 1px #e6e6e6
      font-size: 16px
      line-height: 1.5
    a
      position: absolute
      top: 20px
      right: 20px
      font-size: 25px
      color: $current-color
      &:hover
        color: $current-color

  .ng-hide-add
    -webkit-animation: 0.2s lightSpeedOut ease
    animation: 0.2s lightSpeedOut ease

  .ng-hide-remove
    -webkit-animation: 0.5s flipInX ease
    animation: 0.5s flipInX ease

  .blank-chat
    font-size: 16px
    line-height: 1.5
    letter-spacing: normal
    text-align: center
    color: #8a8a8a
    margin-top: 170px