@import "variables_and_functions"

.page-footer
  width: 100%
  background-color: #5c595a
  float: left
  padding: 100px 0 50px 0
  .footer-text
    line-height: 0.88
    font-size: 16px
    letter-spacing: 1.1px
  .color-white
    color: white
    &:hover, &:active, &:visited
      color: white
  .color-gray
    color: #8a8a8a
    &:hover, &:active, &:visited
      color: #8a8a8a
  .row
    margin-top: 25px
  .title
    margin-bottom: 40px
  .content
    .col-md-3
      padding: 0
      padding-top: 40px
      min-width: 220px

.page-footer.transform
  margin-bottom: -150px !important