@import 'variables_and_functions'

.landing-input
  border: 1px solid #e6e6e6
  outline: none
  width: 100%
  font-weight: normal
  line-height: 1.5
  color: #c6bfc7

[device='mobile'][size='small']
  .landing-input
    -webkit-border-radius: calc-h-small(40)
    -moz-border-radius: calc-h-small(40)
    border-radius: calc-h-small(40)
    margin: calc-h-small(15) auto
    padding: calc-h-small(8) calc-w-small(30)
    font-size: calc-h-small(16)

[device='mobile'][size='full']
  .landing-input
    -webkit-border-radius: calc-h-full(40)
    -moz-border-radius: calc-h-full(40)
    border-radius: calc-h-full(40)
    margin: calc-h-full(15) auto
    padding: calc-h-full(8) calc-w-full(30)
    font-size: calc-h-full(16)

[device='desktop']
  .landing-input
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 25px
    margin: 15px auto
    padding: 13px 30px
    font-size: 16px
  .register-input
    width: 400px
    padding: 15px 30px
    border-radius: 100px
    background-color: white
    border: solid 1px #e6e6e6
    outline: none
    margin-bottom: 50px
    font-size: 16px
    font-weight: 500
    color: #938e94
    &:focus
      border: solid 1px #e1c3fd
  .zureal-textarea
    outline: none
    width: 400px
    border-radius: 20px
    border: solid 1px #e6e6e6
    padding: 15px 30px
    font-size: 16px
    font-weight: 500
    color: #938e94
    display: inline-block
    &:focus
      border: solid 1px #e1c3fd
  .zureal-btn-dropdown
    display: inline-block
    a.zureal-dropdown
      width: 400px
      border-radius: 100px
      border: solid 1px #e6e6e6
      display: inline-block
      padding: 15px 30px
      font-size: 16px
      font-weight: 500
      line-height: 1.5
      color: #555555
      background-position-x: calc(100% - 30px)
      background-position-y: calc(50%)
      background-size: 9px
      background-repeat: no-repeat
      background-image: url(/images/icons/ic-drop-grey@3x.png)
    .open
      a.zureal-dropdown
        border: solid 1px #e1c3fd
        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08)
        background-image: url(/images/icons/ic-drop-black@3x.png)
    .dropdown-menu
      border-radius: 4px
      background-color: white
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)
      margin-top: 13px
      width: 400px
      text-align: left
      padding: 0 !important
      li
        padding: 15px 30px
        margin: 0 !important
        width: 400px
        border-bottom: dotted 1px #ddd
      a
        padding: 0
        margin: 0
        font-size: 16px
        color: #555555
        &:hover, &:active
          background-color: white
  .filters-bar
    width: 1160px
    border-radius: 4px
    background-color: white
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)
    margin: 50px auto
    padding: 50px
    .register-input
      margin: 0
      width: 100%