@import 'variables_and_functions'

.zureal-textarea
  display: inline-block
  width: 100%
  font-weight: 500

.zureal-checkbox
  label
    font-size: 16px
    color: #555555
    &::selection
      background: transparent

.register-input, .zureal-input, .landing-input, .zureal-textarea
  background-color: white
  border: solid 1px #e6e6e6
  outline: none
  color: #c6bfc7
  font-size: 16px
  &:focus
    border-color: #e1c3fd
    color: #938e94

.register-input, .zureal-input, .landing-input
  padding: 15px 30px
  border-radius: 100px

.landing-input
  width: 100%
  font-weight: normal
  line-height: 1.5

.images-list
  .plus, label
    display: inline-block

[device='mobile'][size='small']
  .landing-input
    border-radius: calc-h-small(40)
    margin: calc-h-small(15) auto
    padding: calc-h-small(8) calc-w-small(30)
    font-size: calc-h-small(16)

[device='mobile'][size='full']
  .landing-input
    border-radius: calc-h-full(40)
    margin: calc-h-full(15) auto
    padding: calc-h-full(8) calc-w-full(30)
    font-size: calc-h-full(16)

[device='mobile']
  .images-list
    .plus
      width: 100% !important
      height: 265px !important
      label
        width: 280px !important
        height: 280px !important
  .zureal-textarea
    padding: 8px 30px
    border-radius: 15px
  .register-input, .zureal-input
    width: 100%
    padding: 8px 30px


[device='desktop']
  .landing-input
    border-radius: 25px
    margin: 15px auto
    padding: 13px 30px
    font-size: 16px
  .register-input, .zureal-input
    width: 400px
  .zureal-textarea
    width: 400px
    border-radius: 20px
    padding: 15px 30px
  .images-list
    .plus
      width: 300px !important
      height: 300px !important
      label
        width: 300px !important
        height: 300px !important


.zurealdj-header-1
  font-size: 18px
  font-weight: 500
  font-style: normal
  font-stretch: normal
  line-height: 1
  color: #555555

table.form-table
  width: 100%
  border-collapse: separate
  border-spacing: 30px
  & > tbody > tr
    margin-bottom: 10px
    input
      width: 100% !important
    .dj-dropdown
      width: 100%
    & > td:nth-child(1)
      width: 150px
    & > td:nth-child(2)
      width: 380px !important

.dj-dropdown[uib-dropdown]
  display: inline-block
  position: relative
  i.fa
    position: absolute
    top: 19px
    right: 17px
    font-size: 12px
  [uib-dropdown-toggle]
    border-radius: 100px
    background-color: #ffffff
    border: solid 1px #e6e6e6
    height: 50px
    font-size: 16px
    font-weight: 500
    color: #555555
    outline: none
    display: inline-block
    padding: 15px 30px
    width: 100%
  [uib-dropdown-menu]
    min-width: 100%
    border-radius: 4px
    background-color: #ffffff
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)
    width: 100%
    top: 115%
    li
      border-bottom: 1px solid #f5f5f5
      height: 49px
      padding-top: 6px
      overflow-x: hidden
      &:hover
        background-color: #f0f0f0
      a:hover
        background-color: transparent
      a
        font-size: 16px
        font-weight: 500
        color: #555555
.dj-dropdown.open
  [uib-dropdown-toggle]
    border: solid 1px #e1c3fd
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)