@import "variables_and_functions"

.profile-item
  img
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
    background-color: white
.profile-item, .event-item
  .inf, .event-inf
    color: #555555
    .name, .event-title
      color: #555555
      &:hover
        color: $current-color
    .genres
      display: inline-block
      color: #8a8a8a


.index
  margin: auto

.show-more
  text-align: center
  a
    font-weight: 500
    color: #b05dfc
    background-color: white
    &::selection
      background: transparent

.events-count
  font-size: 16px
  letter-spacing: 1.5px
  color: #cccccc
  margin-top: -20px

.event-item
  width: 100%
  height: 200px
  border-radius: 4px
  background-color: white
  border: solid 1px #f5f5f5
  margin: 40px 0
  position: relative
  min-width: 600px
  .event-image
    width: 200px
    height: 200px
    vertical-align: top
  .status
    font-size: 16px
    font-weight: 500
    letter-spacing: 1.5px
    text-align: right
    color: $current-color
    position: absolute
    top: 30px
    right: 30px
  .event-inf
    display: inline-block
    margin: 25px 30px auto 30px
    table
      margin-top: 25px
      td
        padding: 4px 0
      td.light-grey
        min-width: 120px
  .djs
    position: absolute
    top: 100px
    right: 30px
    height: 70px
    width: 100%
    max-width: 450px
    text-align: right
    .dj
      width: 70px
      height: 70px
      border-radius: 4px
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
      margin: 0 10px
    .plus
      width: 70px
      height: 70px
      border-radius: 4px
      background-color: white
      border: solid 1px #ffcce7
      display: inline-block
      vertical-align: middle
      padding: 23px 0
      color: #ff7dc0
      text-align: center
      margin-left: 10px




[device='desktop']
  .index
    @media (max-width: 1199px)
      width: 800px
    @media (max-width: 799px)
      width: 400px
    .mobile-caption
      display: none
  .show-more
    margin: 100px auto
    a
      font-size: 16px
      letter-spacing: 1.5px
      padding: 15px 40px
      border-radius: 100px
      box-shadow: 0 2px 30px 0 rgba(176, 93, 252, 0.8)

  .profile-item
    display: inline-block
    vertical-align: top
    width: 360px
    margin: 20px
    border-radius: 4px
    border: solid 1px #f5f5f5
    .like, .like-active
      margin-left: 285px
      margin-top: -345px
    img
      width: 360px
      height: 360px
      border-radius: 4px
  .profile-item, .event-item
    .inf
      padding: 25px 30px
    .inf, .event-inf
      .name, .event-title
        font-size: 28px
        letter-spacing: 1.8px
      .small-text
        font-size: 16px
      .genres
        margin-top: 20px
        letter-spacing: 1px
        line-height: 1.5
      .genres, .light-grey
        letter-spacing: 1px
        line-height: 1.5
      .address
        letter-spacing: 1px



[device='mobile']
  .mobile-caption
    font-size: calc-w-small(20)
    line-height: calc-w-small(1.5)
    letter-spacing: calc-w-small(1.4)
    text-align: center
    padding: calc-w-small(20) 0
    box-shadow: 0 calc-w-small(2) calc-w-small(20) 0 rgba(0, 0, 0, 0.08)
    margin-bottom: calc-w-small(15)
    width: 100%
  .margin50
    display: none
  .index
    text-align: center
  .show-more
    margin: calc-w-small(50) auto
    a
      font-size: calc-w-small(16)
      letter-spacing: calc-w-small(1.5)
      padding: calc-w-small(10) calc-w-small(30)
      border-radius: calc-w-small(100)
      box-shadow: 0 calc-w-small(2) calc-w-small(30) 0 rgba(176, 93, 252, 0.8)

  .profile-item
    text-align: left
    display: inline-block
    width: calc-w-small(250)
    margin: 20px
    border-radius: 4px
    border: solid 1px #f5f5f5
    .like, .like-active
      margin-left: calc-w-small(200)
      margin-top: calc-w-small(-232)
    img
      width: calc-w-small(250)
      height: calc-w-small(242)
      border-radius: calc-w-small(4)
    .inf
      padding: 25px 30px
      .name
        font-size: calc-w-small(20)
        line-height: 1.1
        letter-spacing: calc-w-small(1.3)
      .small-text
        font-size: calc-w-small(16)
      .genres
        margin-top: calc-w-small(12)
        letter-spacing: 2px
        line-height: 1.5
      .address
        margin-top: calc-w-small(8)
        letter-spacing: 2px