.profile-item
  display: inline-block
  vertical-align: top
  width: 360px
  padding: 0
  margin: 0px 20px
  border-radius: 4px
  background-color: #ffffff
  border: solid 1px #f5f5f5
  img
    width: 360px
    height: 360px
    border-radius: 4px
  .inf
    padding: 25px 30px
    color: #555555
    .name
      font-size: 28px
      letter-spacing: 1.8px
    .small-text
      font-size: 16px
      letter-spacing: 1.5px
    .genres
      display: inline-block
      margin-top: 20px
    .rating
      display: block
      margin-bottom: 10px
  .rating-icons
    color: #fff918
    font-size: 20px
    outline: none