@import "variables_and_functions"

.profile, .event
  .profile-content, .event-content
    .profile-avatar, .event-image
      .img-avatar, .img-event
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        border-radius: 4px
        background-color: white
        .gradient
          background-color: white
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
          background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
          background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
          background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2))
          width: 100%
          height: 100%
          border-radius: 8px
      .btn-action
        background-color: $current-color
        color: white
        text-align: center
  .inf-container
    .inf
      .name
        color: #555555
  .general
    .block-title
      color: #555555
    table
      tr
        td
          font-weight: normal
          font-style: normal
          font-stretch: normal
        .td-content
          color: #555555
        .td-title
          color: #8a8a8a
        .active
          color: #b05dfc


[device='desktop']
  .event
    .artists
      .title
        font-size: 32px
        letter-spacing: 3px
        color: #555555
        text-align: center
        margin-top: 70px
      .container
        margin-top: 50px
  .profile, .event
    height: auto
    padding-bottom: 100px
    position: relative
    .relative
      position: relative
    .inf-container
      width: 100%
      height: 100%
      position: absolute
      .inf
        display: inline-block
        position: absolute
        bottom: 35px
        left: 400px
        .name, .title
          font-size: 32px
          letter-spacing: 3px
          color: white
          margin-bottom: 10px
        .role, .title, .small-text
          color: white
    .profile-header, .event-header
      width: 100%
      height: 360px
      padding: 0
      .background-img
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        -webkit-filter: blur(5px)
        -moz-filter: blur(5px)
        -o-filter: blur(5px)
        -ms-filter: blur(5px)
        filter: blur(5px)
      .custom-blur
        width: 100%
        height: 100%
        background-color: rgba(84, 84, 84, 0.7)
    .profile-content, .event-content
      margin: 0
      .profile-avatar, .event-image
        position: absolute
        top: 70px
        display: inline-block
        width: 360px
        height: 360px
        border-radius: 4px
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)
        @media screen and (max-width: 850px)
          display: block
          position: relative
          top: 0
          margin-top: -300px
        .img-avatar, .img-event
          display: inline-block
          width: 360px
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          border-radius: 4px
          background-color: white
          .gradient
            width: 100%
            height: 100%
        .btn-action
          border-radius: 100px
          padding: 15px
          width: 235px
        .btn-edit
          margin-left: 70px
          margin-top: -80px
        .btn-book-now
          margin-left: 30px
          margin-top: -80px
        .like, .like-active
          position: absolute
          left: 280px
          top: 280px
        .content
          padding: 30px
          background-color: white
          color: #555555
          font-size: 16px
          letter-spacing: 1px
          white-space: pre-wrap
          word-wrap: break-word
          .title
            font-weight: 500
            margin-bottom: 15px
          .text
            color: #8a8a8a
            line-height: 1.5
            margin-bottom: 15px
        a
          display: inline-block
    .small-text
      font-size: 16px
      font-weight: 500
      letter-spacing: 1.5px
    .general
      display: inline-block
      padding: 20px
      margin: 20px
      margin-left: 400px
      width: calc(100% - 400px)
      @media screen and (max-width: 850px)
        display: block
        margin-left: 0
        width: 100%
      .content-mobile
        display: none
      .block-title
        font-size: 20px
        font-weight: 500
        letter-spacing: 1.3px
        color: #555555
        margin-bottom: 25px
      table
        tr
          td
            width: 240px
            letter-spacing: 1.5px
            font-size: 16px
          .td-content
            line-height: 1.88
          .td-title
            line-height: 1.88


[device='mobile']
  .event
    .artists
      .title
        font-size: 20px
        letter-spacing: 3px
        color: #555555
        text-align: center
      .container
        margin-top: 50px
    .general
      padding-bottom: 0 !important
  .profile, .event
    padding: 0
    margin: 0
    hr
      display: none
    .page-block
      width: 100%
      max-width: 100% !important
      padding: 0
    .profile-header
      display: none
    .inf-container
      margin: 0
      padding: 0
      .inf
        padding: 0
        .role, .rating-icons, .genres-event-type, .address
          display: none
        .name, .title
          font-size: 20px
          line-height: 1.5
          letter-spacing: 1.4px
          text-align: center
          padding: 20px 0
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08)
          width: 100%
    .profile-content, .event-content
      .profile-avatar, .event-image
        position: relative
        .img-avatar, .img-event
          width: 280px
          height: 270px
          margin: 20px auto
          border-radius: 4px
        .btn-action
          border-radius: 100px
          padding: 13px 20px
          font-size: 12px
          font-weight: 500
          line-height: 1.17
          letter-spacing: 0.8px
          display: inline-block
        .btn-edit
          display: block
          margin: -70px auto 0 auto
          width: 100px
        .btn-book-now
          margin: -70px 0 0 110px
        .content
          display: none
        .like, .like-active
          position: absolute
          top: 10px
          right: 30px
    .content-mobile
      .title
        font-size: 16px
        font-weight: 500
        letter-spacing: 1px
        margin: 15px 0
      .text
        font-size: 14px
        line-height: 1.43
        letter-spacing: 0.9px
        padding: 7.5px 0
        color: #8a8a8a
    .general
      display: inline-block
      width: 100%
      padding-bottom: 30px
      .block-title
        font-size: 16px
        font-weight: 500
        letter-spacing: 1px
        margin: 15px 0
      .block
        padding: 0 20px
        margin-bottom: 30px
      .listen
        margin-bottom: 30px
        .block-title
          padding: 0 20px
      .equipments
        padding: 0
        display: block
        .block-title
          margin-left: 20px
        .select-button
          .btn-equipment
            width: 90px
            height: 88px
            margin: 10px 2.5px
            border: none
            .title
              font-size: 13px
              line-height: 1.14
              margin-top: 15px
            img
              width: 48px
              height: 48px
              margin: 0 auto
      table
        tr
          td
            font-size: 14px
            line-height: 1.43
            letter-spacing: 0.9px
            padding: 7px 0
            vertical-align: top
          .td-title
            width: 140px
            padding-right: 10px


[device='mobile'][orientation='landscape']
  .profile, .event
    max-width: 100vmin
    margin: auto